<a href="$page_link" style="text-decoration:none;" onmouseover="style='text-decoration:underline'"
    onmouseout="style='text-decoration:none'">
    <div class="result">
        <h2 class='result-title'>$title</h2>
        <img class='result-thumbnail' src="$img_link" alt=""></img>
        <p class='result-summary'>$synopsis</p>
    </div>
</a>